<!DOCTYPE html>
<html lang="en">

{{>partials/head}}

<body>
    <header class="container mx-auto">
        <div class="relative w-full">
            {{> partials/navbar}}
            <div class="relative bg-yellow-50">
                <div class="px-6 pt-32 md:px-12 lg:pt-[4.8rem] lg:px-12">
                    <div class="flex items-center flex-wrap px-2 md:px-0">
                        <div class="relative lg:w-7/12 lg:py-24 xl:py-32">
                            <h1
                                class="uppercase font-bold text-4xl text-yellow-900 md:text-7xl leading-10 tracking-wide lg:w-10/12">
                                Get in Touch With Us </h1>
                            <p class="leading-relaxed text-lg mt-6 text-gray-700 lg:w-10/12">Reach out for collaborations, questions, or to share your thoughts. We're here to connect and make a difference together.
                            </p>
                        </div>
                        <div class="ml-auto mt-16 mb-4 lg:w-5/12">
                            <div class="bg-white relative rounded-lg p-8 sm:p-12 shadow-lg">
                                <h2 class="-mt-6 mb-6 text-yellow-900 text-2xl font-bold text-center">Contact Us</h2>
                                <form method="POST">
                                    <div class="mb-6">
                                        <label class="block mb-2 text-sm font-bold text-yellow-700" for="fullname">
                                            Full Name
                                        </label>
                                        <input id="fullname" type="text" placeholder="KD Food" name="fullname" class="
                                            w-full
                                            rounded
                                            py-3
                                            px-[14px]
                                            text-body-color text-base
                                            border border-[f0f0f0]
                                            outline-none
                                            focus-visible:shadow-none
                                            focus:border-primary
                                            " />
                                    </div>
                                    <div class="mb-6">
                                        <label class="block mb-2 text-sm font-bold text-yellow-700" for="email">
                                            Email
                                        </label>
                                        <input id="email" type="email" placeholder="KD@gmail.com" name="email" class="
                                            w-full
                                            rounded
                                            py-3
                                            px-[14px]
                                            text-body-color text-base
                                            border border-[f0f0f0]
                                            outline-none
                                            focus-visible:shadow-none
                                            focus:border-primary
                                            " />
                                    </div>
                                    <div class="mb-6">
                                        <label class="block mb-2 text-sm font-bold text-yellow-700" for="message">
                                            Your Message
                                        </label>
                                        <textarea id="message" rows="6" placeholder="We Love your service." name="message" class="
                                            w-full
                                            rounded
                                            py-3
                                            px-[14px]
                                            text-body-color text-base
                                            border border-[f0f0f0]
                                            resize-none
                                            outline-none
                                            focus-visible:shadow-none
                                            focus:border-primary
                                            "></textarea>
                                    </div>
                                    <div>
                                        <button type="submit" class="
                                            w-full
                                            text-yellow-700
                                            bg-yellow-50
                                            rounded
                                            border border-yellow-100
                                            p-3
                                            hover:bg-opacity-90
                                            font-bold
                                            hover:bg-yellow-200
                                            ">
                                            Send Message
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{> partials/footer }}

    <script src="/js/contact.js"></script>
</body>

</html>