<!-- Example: views/layouts/main.mustache -->
<!DOCTYPE html>
<html lang="en">
{{>partials/head }}

<body>

    <div class="container mx-auto">
        <header class="container mx-auto">
            {{> partials/navbar }}
        </header>

        <!-- Container -->
        <div class="flex justify-center px-6 mt-36">
            <!-- Row -->
            <div class="w-full xl:w-3/4 lg:w-11/12 flex">
                <!-- Col -->
                <div class="w-full h-auto  hidden lg:block lg:w-1/2 border border-b-neutral-400 bg-no-repeat bg-contain rounded-l-lg bg-white"
                    style="background-image: url('https://media.istockphoto.com/id/1355624220/vector/vector-illustration-please-dont-waste-food-designs-for-world-food-day-and-international.jpg?s=612x612&w=0&k=20&c=_noGR7l39IG46d6RGE4x54DBC8sg1pD1xzDUfz5pb4E='); background-position: center;">
                </div>

                <!-- Col -->
                <div class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none border">
                    <h3 class="pt-4 text-2xl text-center font-semibold text-yellow-900">Welcome Food Saver 🥪</h3>
                    <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" method="POST">
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-yellow-700" for="name">
                                Name
                            </label>
                            <input
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                 name="name" id="name" type="text" placeholder="Full Name" required />
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-yellow-700" for="email">
                                Email
                            </label>
                            <input
                                class="w-full px-3 py-2 text-sm leading-tight text-yellow-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                name="email" id="email" type="email" placeholder="KD@gmail.com" required />
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-yellow-700" for="phone">
                                Phone
                            </label>
                            <input
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="phone" type="tel" placeholder="0141 123 4567" name="phone"
                                pattern="(\+44\s?7\d{3}|\(?0\d{4}\)?)\s?\d{3}\s?\d{3}"
                                title="Phone number must be in Scottish format (e.g., 0141 123 4567 or +44 7xxx xxx xxx for mobiles)"
                                required />
                        </div>

                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-yellow-700" for="password">
                                Password
                            </label>
                            <input
                                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                name="password" id="password" type="password" placeholder="******************" required />
                            <!-- <p class="text-xs italic text-red-500">Please choose a password.</p> -->
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-yellow-700" for="confirmPassword">
                                Confirm Password
                            </label>
                            <input
                                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                name="confirmPassword" id="confirmPassword" type="password" placeholder="******************" required />
                            <!-- <p class="text-xs italic text-red-500">Please choose a password.</p> -->
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-yellow-700" for="accountType">
                                User Type
                            </label>
                            <select
                                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="accountType" name="accountType" required>
                                <option value="" disabled selected>Select Account Type</option>
                                <option value="Pantry">Pantry</option>
                                <option value="Donor">Donor</option>
                            </select>
                        </div>

                        <div class="mb-6 text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-yellow-700 bg-yellow-300 rounded-full hover:bg-yellow-100 focus:outline-none focus:shadow-outline"
                                type="submit">
                                Sign up
                            </button>
                        </div>
                        <hr class="mb-6 border-t" />
                        <div class="text-center">
                            <a class="inline-block font-semibold text-sm text-yellow-700 align-baseline hover:text-yellow-900"
                                href="/login">
                                Already Have an Account?
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{> partials/footer }}

    <script src="/js/signup.js"></script>

</body>

</html>